*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
header{    
    font-family: "Roboto Mono", monospace;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: px;
    background-color: #357EC8;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.text{
    padding: 10px;
    transition: background-color 0.2s ease-in;
    border-radius: 20px;
}
.text:hover{
    background-color: #40b5e0;
}
.main{
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;   
    height: 100vh;
    overflow-y: hidden;
}
footer{
    background-color: #1B3A5F;
    color: white;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: space-around;
}
footer a{
    font-size: 15px;
}
.main1{
    position: absolute;
    bottom: 300px;
    left: 200px;
    color: white;
}